<h2>Events created by <%= @user.name %>  </h2>

<% if @user.created_events.any? %>
  <% @user.created_events.each do |event| %>
    <div class="event">
      <h4> <%= link_to event.title, event_path(event) %> </h4>
      <p> <%= event.description %> </p>
      <p> <%= event.date %> </p>
    </div>
  <% end %>
<% else %>
  <p>You haven't created any event yet</p>
<% end %>

<% unless @user == current_user %>
  <% if @user.followers.include?(current_user) %>
    <%= link_to "No longer follow", friendship_path(user_id: @user.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  <% else %>
    <%= button_to "Follow", friendships_path(user_id: @user.id) %>
  <% end %>
<% end %>

<h2> Events attended by <%= @user.name %> </h2>

<h3> incoming events </h3>

<% @user.attended_events.where("date > ?", DateTime.now).each do |event| %>
  <div class="incoming event">
    <h4> <%= link_to event.title, event_path(event) %> </h4>
    <p> <%= event.description %> </p>
    <p> <%= event.date %> </p>
  </div>
<% end %>

<h3> Past events </h3>

<% @user.attended_events.where("date < ?", DateTime.now).each do |event| %>
  <div class="past event">
    <h4> <%= link_to event.title, event_path(event) %> </h4>
    <p> <%= event.description %> </p>
    <p> <%= event.date %> </p>
  </div>
<% end %>

<h2> Social </h2>

<div class="social">
  <div>
    <ul>
      <h3> Follows: </h3>
      <% @user.followed_users.each do |user| %>
        <% unless user == @user %>
          <li> <%= link_to user.name ,user_path(user) %> </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
    <ul>
      <h3> Followers: </h3>
      <% @user.followers.each do |user| %>
        <% unless user == @user %>
          <li> <%= link_to user.name ,user_path(user) %> </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>