<%= form_with model: event do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :category %>
    <%= form.select :category, ["Private", "Public"] %>
  </p>
  <p>
    <%= form.label :date %>
    <%= form.datetime_local_field :date %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>