
<h1>Private events</h1>

<h2>Upcoming events</h2>
<% @events.upcoming.each do |event| %>
  <div class="event">
    <h2 class="event-title"> <%= link_to event.title, event_path(event) %> </h2>
    <p class="event-description"> <%= event.description %> </p>
    <p class="Event-date"> <%= event.date %> </p>
  </div>
<% end %>

<h2>Past events</h2>
<% @events.past.each do |event| %>
  <div class="event">
    <h2 class="event-title"> <%= link_to event.title, event_path(event) %> </h2>
    <p class="event-description"> <%= event.description %> </p>
    <p class="Event-date"> <%= event.date %> </p>
  </div>
<% end %>