<h1> <%= @event.title%> </h1>

<p> <strong> Event created by: </strong> <%= link_to @event.creator.name, user_path(@event.creator) %> </p>
<p> <%= @event.description %> </p>
<p> <%= @event.date %> </p>
<p> <strong> Location: </strong> <%= @event.creator.adress %>

<% unless current_user.attended_events.include?(@event) %>
  <%= button_to "Attend", participations_path(event_id: @event.id) %>
<% else %>
  <p> You are already attending this event </p>
  <%= link_to "cancel attendance", participation_path(event_id: @event.id), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
<% end %>

<h2>Attendees:</h2>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li> <%= link_to attendee.name, user_path(attendee) %> </li>
  <% end %>
</ul>

<% if current_user == @event.creator %>
  <div class="edit">
    <%= link_to "Edit", edit_event_path(@event) %> |
    <%= link_to "delete", event_path(@event), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
  </div>
<% end %>
